    *{
       padding:0;
       margin:0;
       }
    h2{
        text-align:center;
        margin-top:15px;
    }
        table{
            border-collapse:collapse;
            width:100%;
            color:#62b49c;
            font-family:25px;
            width:700px;
            height:500px;
        }
        table, th, td {
            border: 4px solid black;
          }
        th{
            background-color:#51a38c;
            color:white;
        }
        tr
        {
            background-color:#283131;
        }
        .table
        {
            position:absolute;
            margin-left:300px;
            margin-top:90px;
        }
        .button
        {
          
            color:white;
            padding:10px 30px;
            text-align:center;
            background-color:#131212;
            font-size:16px;
            cursor:pointer;
            outline:none;
           border-radius:15px;
         }
         .button:hover
         {
           color:rgb(17, 16, 16);
           background-color:rgb(240, 233, 233);
           text-decoration:none;
          }
          h5{
              
              text-align:center;
          }
      