
       body {
        background-image: url('bank1.jpg');
        background-color: #cccccc; 
        height: 750px; 
        background-position: center; 
        background-repeat: no-repeat;
        background-size: cover;
      }
    
        .container
        {
            position: absolute;
            margin-top: 200px;
            margin-left:600px;
        }
        
        .button1,.button2,.button3
	  {
        
		 color:white;
		 padding:10px 30px;
		 text-align:center;
		 background-color:#ff1155;
		 font-size:16px;
		 cursor:pointer;
		 outline:none;
		 border-radius:15px;
	   }
	   .button1:hover,.button2:hover,.button3:hover
	   {
	     color:white;
         background-color:black;
         text-decoration:none;
        }
        .button1
        {
            position:absolute;
            width:400px;
            margin-left:480px;
            margin-top:200px;
        }
        .button2{

            position:absolute;
            width:400px;
            margin-left:480px;
            margin-top:230px;
        }
        .button3{
            position:absolute;
            width:400px;
            margin-left:480px;
            margin-top:260px;
        }