body
{
	background-color:green;
}
.click{
	text-decoration:none;
	 color:white;
	 padding:10px 30px;
	 text-align:center;
	 background-color:black;
	 font-size:16px;
	 cursor:pointer;
	 outline:none;
	 position:absolute;
	 border-radius:15px;
}
.button
  {
	  text-decoration:none;
	 color:white;
	 padding:10px 30px;
	 text-align:center;
	 background-colOR:black;
	 font-size:16px;
	 cursor:pointer;
	 outline:none;
	
	 border-radius:15px;
   }
   .button:hover
   {
	 color:black;
	 background-color:white;
	 text-decoration: none;
	}
	.click:hover{
	 color:black;
	 background-color:white;
	
	}
 .details{
	 position:absolute;
	 margin-top:170px;
	 margin-left:500px;
 }
 html{
    *{
        padding:0;
        margin:0;
        }
     h2{
         text-align:center;
         margin-top:15px;
     }
         table{
             border-collapse:collapse;
             width:100%;
             color:#62b49c;
             font-family:25px;
             width:700px;
             height:500px;
         }
         table, th, td {
             border: 4px solid black;
           }
         th{
             background-color:#51a38c;
             color:white;
         }
         tr
         {
             background-color:#283131;
         }
         .table
         {
             position:absolute;
             margin-left:300px;
             margin-top:90px;
         }
         .button
         {
           
             color:white;
             padding:10px 30px;
             text-align:center;
             background-color:#131212;
             font-size:16px;
             cursor:pointer;
             outline:none;
            border-radius:15px;
          }
          .button:hover
          {
            color:rgb(17, 16, 16);
            background-color:rgb(240, 233, 233);
            text-decoration:none;
           }
           h5{
               
               text-align:center;
           }
      
           body {
            background-image: url('bank1.jpg');
            background-color: #cccccc; 
            height: 750px; 
            background-position: center; 
            background-repeat: no-repeat;
            background-size: cover;
          }
        
            .container
            {
                position: absolute;
                margin-top: 200px;
                margin-left:600px;
            }
            
            .button1,.button2,.button3
          {
            
             color:white;
             padding:10px 30px;
             text-align:center;
             background-color:#ff1155;
             font-size:16px;
             cursor:pointer;
             outline:none;
             border-radius:15px;
           }
           .button1:hover,.button2:hover,.button3:hover
           {
             color:white;
             background-color:black;
             text-decoration:none;
            }
            .button1
            {
                position:absolute;
                width:400px;
                margin-left:480px;
                margin-top:200px;
            }
            .button2{
    
                position:absolute;
                width:400px;
                margin-left:480px;
                margin-top:230px;
            }
            .button3{
                position:absolute;
                width:400px;
                margin-left:480px;
                margin-top:260px;
            }
            
     .details{
        position:absolute;
        margin-top:170px;
        margin-left:500px;
    }
   
      .button,.button1
     {
       
        color:white;
        padding:10px 30px;
        text-align:center;
        background-color:#131212;
        font-size:16px;
        cursor:pointer;
        outline:none;
    border-radius:15px;
    
      }
      .button:hover,.button1:hover{
        color:rgb(0, 0, 0);
        background-color:rgb(196, 180, 180);
        text-decoration:none;
       }
       table{
        border-collapse:collapse;
        width:100%;
        color:#588c7e;
        font-family:25px;
        width:700px;
        height:200px; 
    }
    th{
        background-color:#599c7e;
        color:white;
    }
    tr
    {
        background-color:#133332;
    }
    .table
    {
        position:absolute;
        margin-left:3px;
        margin-top:60px;
         
    }
    table, th, td {
       border: 4px solid black;
     }
    button
   {
       color:white;
       padding:10px 30px;
       text-align:center;
       background-color:#131212;
       font-size:16px;
       cursor:pointer;
       outline:none;
      border-radius:15px;
    }
    button:hover
    {
      color:rgb(17, 16, 16);
      background-color:rgb(240, 233, 233);
      text-decoration:none;
     }
     h5{
         
       text-align:center;
   }
  
